@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+10&family=Pixelify+Sans&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 5px rgb(204, 200, 200);
    border: solid rgb(233, 229, 229);
}

.row-container {
    flex-grow: 1;
    display: flex;
}

.square-div {
    flex-grow: 1;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.components {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 40px;
    flex-wrap: wrap;
}

.slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}