* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 5px rgb(204, 200, 200);
    border: solid rgb(233, 229, 229);
}

.row-container {
    flex-grow: 1;
    display: flex;
}

.square-div {
    flex-grow: 1;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

h1 {
    text-align: center;
}

.components {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 40px;
}

.slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}