* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid red; */
}

.container {
    margin: 0 auto;
    width: 750px;
    height: 750px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.row-container {
    flex-grow: 1;
    display: flex;
    gap: 1px;
}

.square-div {
    flex-grow: 1;
    border: solid rgb(112, 108, 108)
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

h1 {
    text-align: center;
}